*{margin: 2px;}
body{
    background-image: url(../images/plane.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
div.entry{
    text-align: center;
    align-items: center;
}
.ref{
    text-align: right;
    font-size: larger;
}
#footer {
    padding-top: 20%;
    text-align: right;
    color: white;
}