.wrapper{
    width: 650px;
    margin-left: 30px;
    /*margin: 50px auto;*/
}
#tabs{
    width: 100%;
}
#tabs ul{
    list-style: none;
    display: table-row;
}
#tabs ul li{
    display: table-cell;
    background: #ccc;
    height: 40px;
    text-align: center;
    border-left: 5px solid #fff;
}
#tabs ul li:first-child{
    border-left: none;
    background: #f3f3f3;
}
#tabs ul li a{
    display: table-cell;
    width: 500px;
    height: 40px;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
#tabs ul li a:hover{
    color: darkorange;
}
.tab-content{
    border: 10px solid #f3f3f3;
}
.tabs-text{
    padding: 10px;
    display: none;
    background-color: white;
}