*{margin: 2px;}
body{
	background-image: url(../images/samolet.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
}
form#addForm{
	margin-left: 30px;
	padding: 7px;
	background-color: #ce8480;
	border: solid 4px #ce7090;
	border-radius: 20px;
	width: 20%;
}
button.btn.btn-default{
	margin-left: 85px;
	/*margin-top: 10px;*/
}
button.btn.btn-default.center{
	margin-left: 10px;
	margin-right: 10px;
}
div.head, caption{
	color: #f1f1f1;
}
div.center-block{
	text-align: center;
	/*margin: 3px auto;*/
}
input.form-control{
	width: 40%;
}
select.form-control{
	width: 150px;
}
thead{
	background: #ce8480;
}
div.pager span{
	background: #ce8480;
}
div.pager span.active {
	background: #ce7090;
}