*{margin: 2px;}
body{
    background-image: url(../images/samolet_manager.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
form#addForm, form#editForm{
    margin-left: 30px;
    padding: 7px;
    background-color: darkorange;
    border: solid 4px coral;
    border-radius: 20px;
    width: 20%;
}
button.btn.btn-default{
    margin-left: 80px;
}
button.btn.btn-default.alone{
    margin-left: 35px;
}
button.btn.btn-default.center{
    margin-left: 10px;
    margin-right: 10px;
}
div.center-block {
    text-align: center;
}
thead{
    background: #ff8c00;
}
td.long{
    width: 20em;
}
td.middle{
    width: 7em;
}
div.pager span{
    background: #ff8c00;
}
div.pager span.active{
    background: #ff7f50;
}
