table{
    border-collapse: collapse;
    margin: 5px auto;
    /*width: 50em;
    /*margin: 2em auto;*/
}
thead {
    color: #fff;
}
.trans1{
    padding: 5px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}
.trans-last1{
    padding: 5px;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.trans2{
    padding: 5px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
}
.trans-last2{
    padding: 5px;
    border-left-style: hidden;
    border-top-style: hidden;
}
td {
    width: 10em;
    padding: 0.3em;
}
td.small{
    width: 2em;
}
tbody {
    background: #fff;
}
th, tr{
    border: 1px solid #000;
    text-align: center;
}
div.pager {
    text-align: center;
    margin: 1em 0;
}
div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-right: 0.5em;
}